body {
  font-family: 'Tajawal', sans-serif;
  margin-top: 70px;
  line-height: 1.6;
}

.hero {
 background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url("https://i.postimg.cc/cL0GxLgP/AIT-AMRAN.jpg") center/cover no-repeat;

  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
}

.section.about-us {
  padding: 70px 20px;
}

.card-title {
  color: #2b6d2b;
}
.hero {
  position: relative;
  background-image: url("https://i.postimg.cc/cL0GxLgP/AIT-AMRAN.jpg"); /* هادي الصورة الكبيرة */
  background-size: cover;
  background-position: center;
  height: 75vh;
  color: white;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* غمّق الصورة باش النص يبين واضح */
}

.hero-content {
  position: relative;
  z-index: 2;
}


footer {
  font-size: 14px;
}



